QDialog{
	background: #efefef;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #96a0ad;
}

QLabel{
	font-family: "HelveticaNeueCyr";
	font-size: 14px;
}

QLabel#title{
	font-family: "HelveticaNeueCyr";
	font-weight: bold;
	font-size: 16px;
}


QLineEdit{
	font-family: "HelveticaNeueCyr";
	font-size: 14px;
	background: white;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;
	border-color: #96a0ad;
}

QPushButton{
	outline: none;
	font-family: "HelveticaNeueCyr";
	font-weight: bold;
	font-size: 14px;
	width: 100px;
	height: 30px;
	color: white;
	border-radius: 2px;
	border: none;
}

QPushButton#Ok{
	background: #4ebd4a;
}

QPushButton#Ok:hover{
	background: #3da33a;
}

QPushButton#Ok:pressed{
	background: #4ebd4a;
}

QPushButton#Cancel{
	background: #ee4f3d;
}

QPushButton#Cancel:hover{
	background: #ec402d;
}

QPushButton#Cancel:pressed{
	background: #ee4f3d;
}