QLabel{
	font-family: "Bulgarien Ariel";
	font-weight: bold;
	font-size: 12px;
}


QLineEdit{
	font-family: "Bulgarien Ariel";
	background: white;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #96a0ad;
}

QPushButton{
	background: #5d9cec;
	outline: none;
	font-family: "Bulgarien Ariel";
	font-size: 14px;
	width: 100px;
	height: 25px;
	color: white;
	border-radius: 3px;
	border: none;
}

QPushButton:hover{
	background: #4a89dc;
}

QPushButton:pressed{
	background: #5d9cec;
}

QPushButton:disabled{
	background: #967adc;
}